<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2 main">
      <div class="text-section">
        <h1 class="header">
          Corey Gardner is a programmer from
          <a href="https://en.wikipedia.org/wiki/Hope_Village_Historic_District">Hope</a>,
          Rhode Island.</h1>
        <h1 class="header">He enjoys developing with <a href="https://en.wikipedia.org/wiki/Ruby_on_Rails#Security">
          Ruby on Rails</a>
          and in <a href="https://en.wikipedia.org/wiki/Flutter_(software)">Flutter</a></h1>
        <h1 class="header">
          He also is the host of the <a
          href="https://podcasts.apple.com/us/podcast/j-c-vol2/id1479097455?i=1000496699659">
          Corey's Corner
        </a> podcast</h1>

        <h1 class="header">He may be writing a
          <a href="https://c0reygardner63.medium.com/a-comparison-german-nazism-and-contemporary-american-social-justice-ideologies-in-regards-to-c7d33f4f60d1?source=friends_link&sk=675918b0ae66b52434126560b829c9c4">
          book</a>...</h1>

      </div>
    </div>
  </div>
</div>