<div class="col-md-8 offset-2 main">
  <div class="text-section">
    <h1 class="header">
      How dangerous is the Corona Virus?
    </h1>
  <a href="https://imgflip.com/i/4n77pp"><img src="https://i.imgflip.com/4n77pp.jpg"
                                              height="450px"
                                              title="made at imgflip.com"/></a>
  <div><a href="https://imgflip.com/memegenerator">from Imgflip Meme Generator</a></div>
    <p> According to the <a href="tps://ri-department-of-health-covid-19-data-rihealth.hub.arcgis.com/">
      Rhode Island Department of Health's</a> data a whopping <b class="positive">97%</b>
      of people who are infected with the <span class="corona">Corona Virus</span> make a
      <b class="positive">FULL RECOVERY </b>

    <p>
      According to the <a href="https://www.acpjournals.org/doi/10.7326/M20-301"
      >data</a> nearly <b class="positive">HALF</b> of those infected <b class="positive">DO NOT EXPERIENCE
      ANY SYMPTOMS </b>
    </p>

    <p> According to the <a href="https://www.cdc.gov/mmwr/volumes/69/wr/mm6928e1.html">CDC</a> the
    <span class="corona">Corona Virus</span> is just not life threatening to healthy people:
    </p>

    <p>
      "approximately
      three fourths of decedents had one or more
      underlying medical conditions reported (76.4%) or were aged ≥65 years (74.8%). "
    </p>

    <p><%= link_to "More Facts", facts_2_path, class: 'btn btn-primary btn-block' %></p>

  </div>
</div>