<div class="container">
  <div class="row">
    <div class="col-md-8 offset-1 main">
      <div class="text-section">
        <h1 class="header" style="color: red">
          Oops! Looks like there was an error :( Plea
        </h1>
        <h1 class="header">
          Please try Again !
        </h1>
        <h1 class="header">
          Feel Free to Join us at the State House on
          <span class="positive">Saturday, November 28th, 2020</span> at
          <span class="positive">Noon</span>
          to Protest !
        </h1>
      </div>
    </div>
  </div>
</div>