<div class="container">
<div class="col-md-8 offset-2 main">
  <div class="text-section">
    <h1 class="header">
      How do<span class="corona"> Raimundo's</span> policies
      <span class="corona">harm</span> <span class="positive">My Health</span> and  <span class="positive">Well Being</span>?
    </h1>
    <a href="https://imgflip.com/i/4nc7xo"><img src="https://i.imgflip.com/4nc7xo.jpg"
                                                height="450px"
                                                title="made at imgflip.com"/></a>
    <div><a href="https://imgflip.com/memegenerator">from Imgflip Meme Generator</a></div>


    <p> Exercise is the <b>most</b> important thing anyone can do for their health. There is
      <a href="https://medlineplus.gov/ency/article/007165.htm">indisputable </a>
      evidence that
      <a href="https://www.health.harvard.edu/staying-healthy/how-to-boost-your-immune-system"> exercise </a>and
      <a href="">physical activity </a>
      have a positive effect on the immune system. Yet
      <span class="corona">Raimundo</span> continues to advocate for a policy which decreases the function of
      the immune system.
    </p>

    <p class="citation"><em>
      <a href="https://journals.physiology.org/doi/full/10.1152/physrev.2000.80.3.1055?****=nck&">
        Exercise and the Immune System: Regulation, Integration, and Adaptation:
      </a></em></p>
    <p class="quote">
      "NK cells mediate non-major histocompatibility complex (MHC)-restricted cytotoxicity,
      with potential resistance
      to viral infections and cytolysis of some malignant cells...
      Exercise of various types, durations, and intensities
      induce recruitment to the blood of cells expressing characteristic NK cell markers."
    </p>

    <p> According to the <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7387807/">
      Nation Center for Biotechnology Information</a>
      Exercise is clearly a tool that can be leveraged to fight Covid-19. </p>

    <p class="quote">
      "During and after physical exercise, pro- and anti-inflammatory cytokines are released,
      lymphocyte circulation increases, as well as cell recruitment. Such practice has an effect on
      the lower incidence, intensity of symptoms and
      mortality in viral infections observed in people who practice physical activity regularly"
    </p>

    <p>Despite evidence that <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7336943/">Yoga</a>
      can help at risk populations combat Covid-19 <span class="corona">Raimundo
    </span> has in light of this evidence, decided to bully yoga studios into closing.</p>

    <p class="quote">
      "Among its influence on pro-inflammatory markers, significant decreases in
      interleukin-1 (IL-1) beta, as well as indications for reductions in IL-6 and tumor
      necrosis factor (TNF)-alpha, have been indicated.[46] Cytokine storm represented
      by increased cytokine levels (IL-6, IL-10, and TNF-α), lymphopenia (in CD4+ and CD8+ T-cells), and
      decreased IFN-γ expression in CD4+ T-cells is associated with severe COVID-19.
      <b>These findings support the utility of yoga as a complementary intervention for populations
      at risk or already suffering from COVID-19. Duration of the yoga intervention could
        significantly influence the effects of yoga practice on inflammatory markers."</b>
    </p>

      <p><span class="corona"> Raimundo's
</span>  ignorant actions directly puts the lives of at risk individuals at stake. She is morally and legally
        responsible for any deaths that result from her selfish, ignorant, uniformed, arbitrary and archaic policies.
    </p>


      <p>She has absolutely <span class="corona">0</span>
      credibility or accreditation when it comes to making decisions about my health.
    </p>

    <p> It should be noted that neither tattoo parlors, hair salons, spa's or receiving a pedicure
      have shown to have any positive impact on immune system functioning.</p>

     <p> <span class="corona">Raimundo's</span> rules are obviously a reflection of her personal,
       arbitrary and increasingly <span class="corona">selfish</span> desires. </p>

       <p>It should also be noted that during the lockdown she was getting her hair and makeup done and was
         <b class="corona">NOT</b> wearing a mask. <span class="corona">Raimundo</span> is a
         <span class="corona">HYPOCRITE.</span></p>

       <p>Is this really the woman you trust with <em>your life</em>?
    </p>

    <a href="https://imgflip.com/i/4nc5sq"><img src="https://i.imgflip.com/4nc5sq.jpg"
                                                height="450"
                                                title="made at imgflip.com"/></a>
    <div><a href="https://imgflip.com/memegenerator">from Imgflip Meme Generator</a></div>

    <p>
      <%= link_to  "Raimundo's Corruption", facts_4_path, class: "btn btn-primary btn-block" %>
    </p>
  </div>
</div>
</div>
