<div class="container">
  <div class="col-md-8 offset-2 main">
    <div class="text-section">
      <h1 class="header">
        Does <span class="corona">Raimundo</span> care if you can put food on the table?
      </h1>
            <a href="https://imgflip.com/i/4ncba2"><img src="https://i.imgflip.com/4ncba2.jpg"
                                                        height="450px"
                                                        title="made at imgflip.com"/>
            </a>
            <div><a href="https://imgflip.com/memegenerator">from Imgflip Meme Generator</a></div>

      <p> While the rest of America lives hand to mouth <span class="corona">Raimundo</span>
        and her <span class="corona">Cronies </span> are running away with <b>YOUR</b> money.
      </p>

      <p><span class="corona">Raimundo</span> makes
        <a href="https://ballotpedia.org/Rhode_Island_state_government_salary">
          $130,000</a>
        a year ! Which is<a href="https://www.ziprecruiter.com/Salaries/Above-Average-Salary--in-Rhode-Island">
        $70,000 </a>more then the <b>AVERAGE</b> Rhode Islander
      </p>
      <p> Her Chief of staff <span class="corona">David Ortiz</span> makes a whopping $185,000 a year ! </p>
      <p>The Auditor General, <span class="corona">Dennis Hoyle</span>
        is pulling in $145,000 of <b>YOUR</b> money !
      </p>

    <a href="https://imgflip.com/i/4nciel"><img src="https://i.imgflip.com/4nciel.jpg"
                                                height="450px"
                                                title="made at imgflip.com"/>
    </a>
    <div><a href="https://imgflip.com/memegenerator">from Imgflip Meme Generator</a></div>

    <p>While <a href="https://dlt.ri.gov/documents/pdf/lmi/bulletin.pdf">
      10.5% </a> of Rhode Island is on unemployment none of these thieves have taken a pay cut or lowered taxes.
      </p>


      <p> <%= link_to "Your Rights", freedom_path,class: "btn btn-primary btn-block" %></p>

    </div>
   </div>
</div>
