<div class="container">
<div class="col-md-8 offset-2 main">
  <div class="text-section">
    <h1 class="header">
      Is <span class="corona">Raimundo's</span> solitary confinement an effective policy?
    </h1>
  <a href="https://imgflip.com/i/4n7f4r"><img height="450px"
    src="https://i.imgflip.com/4n7f4r.jpg" title="made at imgflip.com"/></a><div>
  <a href="https://imgflip.com/memegenerator">from Imgflip Meme Generator</a></div>

    <p>According to a research <a href="https://genomebiology.biomedcentral.com/articles/10.1186/gb-2007-8-9-r189">
      study</a> in genome biology social isolation results in chronic inflammation, decreased immune system response and
      makes individuals <span class="corona">MORE PRONE TO VIRAL INFECTION </span>.</p>

    <em class="quote">"These leukocyte transcriptional dynamics are consistent with
      clinical data indicating a complex pattern of host resistance alterations in social isolates,
      including increased risk of inflammation-mediated disease, accompanied by decreased
      resistance to viral infection and impaired humoral immune response."</em>

    <p>A <a href="https://pubmed.ncbi.nlm.nih.gov/20668659/">Meta Analysis</a> of 148 studies
      found that <span class="positive">STRONGER</span> and more <span class="positive">ABUNDANT</span>
      <span class="positive">SOCIAL RELATIONSHIPS</span> have a <span class="positive">POSITIVE</span> relationship on
      <span class="positive">PATIENT SURVIVAL</span>
    </p>
    <em class="quote">
      "Across 148 studies (308,849 participants), the random effects weighted average effect size was OR
      = 1.50 (95% CI 1.42 to 1.59), indicating a 50% increased likelihood of survival for participants
      with stronger social relationships. This finding remained consistent across age,
      sex, initial health status, cause of death, and follow-up period."
    </em>

    <p>
      <%= link_to "Even More Facts", facts_3_path, class: "btn btn-primary btn-block"%>
    </p>

  </div>
</div>
</div>

<!-- <a href="https://imgflip.com/i/4n7g3q"><img src="https://i.imgflip.com/4n7g3q.jpg" title="made at imgflip.com"/>
</a><div><a href="https://imgflip.com/memegenerator">from Imgflip Meme Generator</a></div>