<div class="container">
  <div class="col-md-8 offset-2 main">
    <div class="text-section">
      <h1 class="header">
          is <span class="corona">Raimundo</span> violating your rights?
      </h1>

      <a href="https://imgflip.com/i/4nfr9u"><img src="https://i.imgflip.com/4nfr9u.jpg"
                                                  height="450"
                                                  title="made at imgflip.com"/></a>
      <div><a href="https://imgflip.com/memegenerator">from Imgflip Meme Generator</a></div>

      <p>The Corona Virus has been used by <span class="corona">Raimundo</span>
      to harass and bully local businesses.
      </p>

      <p>
        Businesses are being searched and questioned without a warrant.
        People are being subject to penalties without due process or trial by jury.
        The measures being taken by <span class="corona">Raimundo</span>  are
        clear violations of the 4th, 5th, 6th, 7th, 8th, 9th and 10th
        <a href="https://www.whitehouse.gov/about-the-white-house/the-constitution"
      >amendments</a>
        of the Federal Constitution.
      </p>

      <p><b class="corona">EVERY</b> member of the Rhode Island State government is
        <span class="corona">Breaking</span> the law.</p>

      <p> <a href="http://www.rilin.state.ri.us/riconstitution/Pages/Constfull.aspx">Section 16</a>
        of Article 6 of the Rhode Island constitution prohibits the state debt from exceeding $50,000.
      </p>

      <p>Despite the legal restrictions on state debt <span class="corona">Raimundo </span>
      and her <span class="corona"> bullies</span> have chosen to
        <span class="corona">break</span> the law and allow the
        <a href="https://ballotpedia.org/Rhode_Island_state_debt">state debt </a>
        to swell to well over <span class="corona">9 BILLION DOLLARS</span>
      </p>

      <p>
        If <span class="corona">Raimundo </span> can't even balance a
        check book or follow the rules why should I?
      </p>

      <p> <%= link_to "Take  Action", take_action_path,class: "btn btn-primary btn-block" %></p>
    </div>
  </div>
</div>