<div class="container">
<div class="col-md-8 offset-2 main">
  <div class="text-section">
    <h1 class="header">
      Does <span class="corona">Raimundo</span> care about my health?
    </h1>
    <a href="https://imgflip.com/i/4nc8wx"><img src="https://i.imgflip.com/4nc8wx.jpg"
                                                height="450"
                                                title="made at imgflip.com"/></a>
    <div><a href="https://imgflip.com/memegenerator">from Imgflip Meme Generator</a></div>
    <p>
      According to <a
      href="https://upriseri.com/wp-content/uploads/2018/09/Supporting-research-Matt-Brown-Take-Back-Rhode-Island-plan.pdf">
      Uprise RI</a> <span class="corona">Raimundo</span> has taken at least <span class="corona">$7,000 </span>
      from companies that distribute
      opioids and <span class="corona">$45,000 </span> from big tobacco companies.
    </p>

    <p>At the same time Rhode Island ranks <a href="https://www.drugabuse.gov/drug-topics/opioids/opioid-summaries-by-state"
    >8th</a> in the nation in terms of opioid deaths</p>

    <p>Are we really that naive as to trust our lives with someone who is
    receiving money from companies that sell<span class="corona"> Addictive</span> & <span class="corona">Deadly</span>
      drugs?
    </p>

    <p> <%= link_to "RIP Economy", facts_5_path, class: "btn btn-block btn-primary"%></p>

  </div>
</div>
</div>